*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-weight: 900;
    font-size: 100px;
    text-align: center;
}

h1, .title{
    font-family: 'Edu Tas Beginner', sans-serif;
}

.date{
    font-family: 'Sometype Mono', 'monospace';
}

p{
    font-family: 'Edu Tas Beginner', sans-serif;
}

.wall{
    background-image: url(../img/wall.png);
}

.bacheca{
    background-image: url(../img/cork.png);
    /* height: 1200px; */
}

.img-container{
    width: 30%;
    /* height: 350px; */
}

.pin{
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, 0);
}

/* media query for responsiveness. Approach desktop first */
/* tablet */
@media screen and (max-width: 1280px){
    h1{
        font-size: 70px;
    }
    .column{
        width: 40%;
    }
}
/* mobile */
@media screen and (max-width: 768px){
    h1{
        font-size: 50px;
    }
    .column{
        width: 100%;
    }
}
