*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Edu Tas Beginner', sans-serif;
    font-weight: 900;
    font-size: 100px;
    text-align: center;
}

p{
    font-family: 'Edu Tas Beginner', sans-serif;
}

.wall{
    background-image: url(../img/wall.png);
}

.bacheca{
    background-image: url(../img/cork.png);
    height: 1200px;
}

.img-container{
    width: 30%;
    /* height: 350px; */
}

.pin{
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, 0);
}

